body{background-image:frme;
    background-color: #faf9f9;}
.a:hover{background-color: rgb(172, 173, 177);}
.b:hover{background-color: rgb(172, 173, 177);}
.c:hover{background-color: rgb(172, 173, 177);}
.d:hover{background-color: rgb(172, 173, 177);}
.work:hover{background-color: rgb(172, 173, 177);}
  